/*  scss variables */
$max799: "(max-width: 799px)";

.card-list {
    display: grid;
    column-gap: 1.88rem;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row dense;
    list-style: none;
    margin: 3rem auto;
    max-width: 1024px;
    row-gap: 1.88rem;
    text-align: center;
    width: 95%;

    @media #{$max799} {
        display: block;
        width: 90%;
    }
}